* {
    margin: 0;
    padding: 0;
}

/* Header section CSS */
.bio-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}


/*Header Services Section*/
.bio-all-services {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;

}
.bio-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Post section*/
.bio-post {
    display: flex;
}

.bio-post-links {
    display: flex;
    flex-direction: column;
}


.bio-post-links a {
    margin-top: 10px;
}

/*Article*/

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio-articles {
    display: flex;
    align-items: center;
}

.bio-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.8rem;
}